# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

TPNote/.qmake.cache
TPNote/.qmake.stash
Projet_IHM/.qmake.cache
Projet_IHM/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
TPNote/moc_*.cpp
TPNote/qrc_*.cpp
TPNote/ui_*.h
TPNote/Makefile*
Projet_IHM/moc_*.cpp
Projet_IHM/qrc_*.cpp
Projet_IHM/ui_*.h
Projet_IHM/Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
Projet_IHM/CMakeLists.txt.user
Projet_IHM/CMakeLists.txt.user
